$primary: #7C3F22;
$secondary: #707060;
$success: #C4852D;
$info: #C4852D;
$warning: #5F583B;
$danger: #C4852D;
$light: #E0CCA2;
$dark: #242A20;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
